<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960660095273-0usme5qlnapuo9l08u7dns0r0kqa8oeh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960660095273-0usme5qlnapuo9l08u7dns0r0kqa8oeh</string>
	<key>API_KEY</key>
	<string>AIzaSyClrSGKBdPgkSQNsh6aE6guq4a0dTfN7VA</string>
	<key>GCM_SENDER_ID</key>
	<string>960660095273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tejagoud.Star-Wars</string>
	<key>PROJECT_ID</key>
	<string>pmgtask</string>
	<key>STORAGE_BUCKET</key>
	<string>pmgtask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960660095273:ios:3758f25baebf04d9947738</string>
</dict>
</plist>